ai-competitor-news-monitor-workflow-public.json
{
  "name": "AI Competitor News Monitor & Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "b684dac1-40ea-4adf-a432-7a10be3bce94",
      "name": "Every Monday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=(AI%20OR%20%22artificial%20intelligence%22%20OR%20%22generative%20AI%22%20OR%20%22AI%20agents%22%20OR%20automation%20OR%20OpenAI%20OR%20Anthropic%20OR%20%22Google%20Gemini%22%20OR%20%22Microsoft%20Copilot%22%20OR%20n8n%20OR%20Zapier%20OR%20Make.com)&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "6b785e7d-7c59-4a35-ac93-66e5a805cda3",
      "name": "Fetch Google News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "38ba358e-d24d-4200-877b-d66e1154f1cd",
      "name": "Merge Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "470532a4-ba39-4c9a-bc9f-76dad72331f4",
      "name": "Fetch TechCrunch AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const sources = [\n  { name: 'Google News', node: 'Fetch Google News' },\n  { name: 'TechCrunch AI', node: 'Fetch TechCrunch AI' },\n];\nfunction strip(s) {\n  if (!s) return '';\n  s = String(s);\n  s = s.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1');\n  s = s.replace(/<[^>]+>/g, ' ');\n  s = s.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"');\n  s = s.replace(/&#39;/g, \"'\").replace(/&#x27;/g, \"'\").replace(/&amp;/g, '&');\n  s = s.replace(/\\s+/g, ' ').trim();\n  return s;\n}\nfunction pick(block, tag) {\n  const re = new RegExp('<' + tag + '[^>]*>([\\\\s\\\\S]*?)</' + tag + '>', 'i');\n  const m = block.match(re);\n  return m ? m[1] : '';\n}\nconst all = [];\nfor (const src of sources) {\n  let xml = '';\n  try {\n    const j = $(src.node).first().json;\n    xml = j.data || j.body || '';\n  } catch (e) { xml = ''; }\n  if (!xml || typeof xml !== 'string') continue;\n  const parts = xml.split(/<item[\\s>]/i).slice(1);\n  for (const raw of parts) {\n    try {\n      const block = '<item ' + raw;\n      const title = strip(pick(block, 'title'));\n      let link = strip(pick(block, 'link'));\n      if (!link) {\n        const m = block.match(/<link[^>]*href=\"([^\"]+)\"/i);\n        if (m) link = m[1];\n      }\n      const desc = strip(pick(block, 'description')) || strip(pick(block, 'summary'));\n      const pub = strip(pick(block, 'pubDate')) || strip(pick(block, 'updated')) || strip(pick(block, 'published'));\n      if (!title) continue;\n      all.push({ title: title, url: link, description: desc, pubDate: pub, source: src.name });\n    } catch (e) { continue; }\n  }\n}\nreturn [{ json: { articles: all, fetchedCount: all.length } }];"
      },
      "id": "c0027853-8972-4a8e-9c73-2b25cbab5a28",
      "name": "Parse RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const LF = String.fromCharCode(10);\nconst data = $input.first() ? $input.first().json : {};\nconst articles = Array.isArray(data.articles) ? data.articles : [];\nconst now = Date.now();\nconst sevenDays = 7 * 24 * 60 * 60 * 1000;\nconst oneDay = 24 * 60 * 60 * 1000;\n// Whole-word / regex keyword matching so 'ai' does NOT match email, said, chair, retail.\nconst KEYWORDS = ['ai','artificial intelligence','generative ai','generative','genai','llm','large language model','agent','agents','ai agent','automation','openai','anthropic','claude','gemini','copilot','n8n','zapier','make.com','machine learning','chatgpt','neural network','deepmind'];\nfunction esc(s) { return s.replace(/\\./g, '\\\\.'); }\nconst KW_RE = KEYWORDS.map(function (k) { return new RegExp('\\\\b' + esc(k) + '\\\\b', 'i'); });\nfunction relevant(a) {\n  const t = (a.title || '') + ' ' + (a.description || '');\n  return KW_RE.some(function (re) { return re.test(t); });\n}\nfunction norm(s) { return (s || '').toLowerCase().replace(/[^a-z0-9 ]/g, '').replace(/\\s+/g, ' ').trim(); }\n// Strict date parsing: reject missing and invalid dates.\nfunction parseDate(s) {\n  if (!s || typeof s !== 'string' || !s.trim()) return null;\n  const d = new Date(s);\n  const ms = d.getTime();\n  return isNaN(ms) ? null : ms;\n}\nconst recent = [];\nfor (const a of articles) {\n  if (!relevant(a)) continue;\n  const t = parseDate(a.pubDate);\n  if (t === null) continue;               // reject missing / invalid dates\n  if ((now - t) > sevenDays) continue;    // reject older than 7 days\n  if ((t - now) > oneDay) continue;       // reject more than 1 day in the future\n  a._ts = t;\n  recent.push(a);\n}\n// Deduplicate near-identical titles.\nfunction sig(s) { return s.split(' ').filter(function (w) { return w.length > 3; }); }\nfunction similar(a, b) {\n  if (a === b) return true;\n  const wa = sig(a);\n  const wb = sig(b);\n  if (!wa.length || !wb.length) return false;\n  let common = 0;\n  for (const w of wa) { if (wb.indexOf(w) !== -1) common++; }\n  return (common / Math.min(wa.length, wb.length)) >= 0.7;\n}\nconst seen = [];\nconst deduped = [];\nfor (const a of recent) {\n  const n = norm(a.title);\n  let dup = false;\n  for (const s of seen) { if (similar(n, s)) { dup = true; break; } }\n  if (dup) continue;\n  seen.push(n);\n  deduped.push(a);\n}\ndeduped.sort(function (x, y) { return y._ts - x._ts; });\nconst limited = deduped.slice(0, 15);   // limit to 15 articles\nfunction fmt(ms) { return new Date(ms).toISOString().slice(0, 10); }\nlet text = '';\nlimited.forEach(function (a, i) {\n  text += (i + 1) + '. ' + a.title + LF;\n  text += 'Source: ' + a.source + LF;\n  text += 'URL: ' + (a.url || 'N/A') + LF;\n  text += 'Date: ' + (a.pubDate || 'Unknown') + LF;\n  if (a.description) text += 'Summary: ' + a.description.slice(0, 400) + LF;\n  text += LF;\n});\nreturn [{ json: {\n  hasArticles: limited.length > 0,\n  count: limited.length,\n  periodStart: fmt(now - sevenDays),\n  periodEnd: fmt(now),\n  articles: limited,\n  articlesText: text\n} }];"
      },
      "id": "dd88f1b6-2b93-462c-9bc8-64a4a7e97508",
      "name": "Filter, Dedupe & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.hasArticles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5eac6825-f55b-47a1-a9db-c5ecc0451dc1",
      "name": "Any Articles Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior competitive-intelligence analyst covering the AI and workflow-automation industry.\nYou will be given a numbered list of recent news articles (title, source, URL, date, summary).\nWrite a concise, professional weekly digest in GitHub-flavored Markdown.\n\nSTRICT RULES:\n- Use ONLY the information contained in the provided articles. Never invent facts, numbers, or events.\n- The \"## Key Takeaways\" section MUST contain EXACTLY between 3 and 5 numbered takeaways — never fewer than 3 and never more than 5.\n- Every major claim (each competitor update and each takeaway that references a specific event) MUST include a Markdown source link in the form [Article title](URL) taken from the articles.\n- If information for a section is not present in the articles, say so briefly instead of inventing it.\n\nOutput EXACTLY these sections and nothing before or after (do NOT add a top-level title and do NOT add a Sources Reviewed section — those are added automatically):\n\n## Executive Summary\nOne short paragraph (3-5 sentences) on the most important developments this week.\n\n## Key Takeaways\nA numbered list of EXACTLY 3 to 5 concise takeaways.\n\n## Competitor Updates\nFor each notable company (OpenAI, Anthropic, Google Gemini, Microsoft Copilot, n8n, Zapier, Make.com, or others in the news) use:\n### Company Name\n* What happened\n* Why it matters\n* Source: [Article title](article URL)\n\n## Industry Trends\n* Important trend and its possible impact\n* Important trend and its possible impact\n\n## Recommended Actions\n* Two or three practical recommendations based on the news"
            },
            {
              "content": "=Reporting period: {{ $json.periodStart }} to {{ $json.periodEnd }}.\n\nHere are the {{ $json.count }} articles to analyze:\n\n{{ $json.articlesText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1800,
          "temperature": 0.3
        }
      },
      "id": "99a3d119-1b68-472d-b139-d600905ccab3",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const LF = String.fromCharCode(10);\n\n/**\n * Read AI response safely.\n */\nlet ai = '';\n\ntry {\n  const result = $('Summarize with AI').first().json;\n\n  ai =\n    result.output?.[0]?.content?.[0]?.text ||\n    result.output_text ||\n    result.text ||\n    result.response ||\n    result.message?.content ||\n    result.content ||\n    '';\n} catch (error) {\n  ai = '';\n}\n\n/**\n * Read filtered article data.\n */\nconst f = $('Filter, Dedupe & Prepare').first().json || {};\n\nconst articles = Array.isArray(f.articles)\n  ? f.articles\n  : [];\n\nif (!ai || ai.trim().length < 20) {\n  ai =\n    '## Executive Summary' +\n    LF +\n    'The AI summary could not be generated this week. Please review the sources below.' +\n    LF;\n}\n\n/**\n * Build the main Markdown digest.\n */\nlet md = '';\n\nmd +=\n  '# Weekly AI & Automation Competitor Digest' +\n  LF +\n  LF;\n\nmd +=\n  '**Reporting period:** ' +\n  (f.periodStart || 'Unknown') +\n  ' – ' +\n  (f.periodEnd || 'Unknown') +\n  LF +\n  LF;\n\nmd += ai.trim() + LF + LF;\n\nmd += '## Sources Reviewed' + LF + LF;\n\nif (articles.length === 0) {\n  md += '* No source articles were available.' + LF;\n} else {\n  articles.forEach(function (article) {\n    const title = article.title || 'Untitled';\n    const url = article.url || article.link || '';\n    const source = article.source || 'Unknown';\n\n    if (url) {\n      md +=\n        '* [' +\n        title +\n        '](' +\n        url +\n        ') — ' +\n        source +\n        LF;\n    } else {\n      md +=\n        '* ' +\n        title +\n        ' — ' +\n        source +\n        LF;\n    }\n  });\n}\n\n/**\n * Convert Markdown into Gmail HTML.\n */\nfunction escapeHtml(value) {\n  return String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nfunction inlineHtml(value) {\n  let output = escapeHtml(value);\n\n  output = output.replace(\n    /\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g,\n    '<a href=\"$2\" target=\"_blank\" style=\"color:#2563eb;text-decoration:none;\">$1</a>'\n  );\n\n  output = output.replace(\n    /\\*\\*([^*]+)\\*\\*/g,\n    '<strong>$1</strong>'\n  );\n\n  return output;\n}\n\nconst lines = md.split(/\\r?\\n/);\n\nlet html = '';\nlet listType = null;\n\nfunction closeList() {\n  if (listType) {\n    html += '</' + listType + '>';\n    listType = null;\n  }\n}\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n\n  if (!line) {\n    closeList();\n    continue;\n  }\n\n  if (line.startsWith('### ')) {\n    closeList();\n\n    html +=\n      '<h3 style=\"margin:16px 0 6px;font-size:16px;color:#111;\">' +\n      inlineHtml(line.slice(4)) +\n      '</h3>';\n\n    continue;\n  }\n\n  if (line.startsWith('## ')) {\n    closeList();\n\n    html +=\n      '<h2 style=\"margin:22px 0 8px;font-size:20px;color:#111;border-bottom:1px solid #eeeeee;padding-bottom:4px;\">' +\n      inlineHtml(line.slice(3)) +\n      '</h2>';\n\n    continue;\n  }\n\n  if (line.startsWith('# ')) {\n    closeList();\n\n    html +=\n      '<h1 style=\"margin:0 0 12px;font-size:26px;color:#111;\">' +\n      inlineHtml(line.slice(2)) +\n      '</h1>';\n\n    continue;\n  }\n\n  if (line.startsWith('* ') || line.startsWith('- ')) {\n    if (listType !== 'ul') {\n      closeList();\n\n      html +=\n        '<ul style=\"margin:6px 0 12px 20px;padding:0;\">';\n\n      listType = 'ul';\n    }\n\n    html +=\n      '<li style=\"margin:5px 0;\">' +\n      inlineHtml(line.slice(2)) +\n      '</li>';\n\n    continue;\n  }\n\n  const orderedMatch = line.match(/^\\d+\\.\\s+(.*)$/);\n\n  if (orderedMatch) {\n    if (listType !== 'ol') {\n      closeList();\n\n      html +=\n        '<ol style=\"margin:6px 0 12px 20px;padding:0;\">';\n\n      listType = 'ol';\n    }\n\n    html +=\n      '<li style=\"margin:5px 0;\">' +\n      inlineHtml(orderedMatch[1]) +\n      '</li>';\n\n    continue;\n  }\n\n  closeList();\n\n  html +=\n    '<p style=\"margin:8px 0;\">' +\n    inlineHtml(line) +\n    '</p>';\n}\n\ncloseList();\n\nconst digestHtml =\n  '<div style=\"font-family:Arial,Helvetica,sans-serif;color:#222;line-height:1.5;max-width:680px;margin:0 auto;\">' +\n  html +\n  '</div>';\n\n/**\n * Convert Markdown into Slack mrkdwn.\n */\nfunction markdownToSlack(markdown) {\n  return String(markdown || '')\n    // Markdown link → Slack link\n    .replace(\n      /\\[([^\\]]+)\\]\\((https?:\\/\\/[^)\\s]+)\\)/g,\n      '<$2|$1>'\n    )\n\n    // Headings → Slack bold\n    .replace(/^###\\s+(.+)$/gm, '*$1*')\n    .replace(/^##\\s+(.+)$/gm, '*$1*')\n    .replace(/^#\\s+(.+)$/gm, '*$1*')\n\n    // Markdown bold → Slack bold\n    .replace(\n      /\\*\\*([^*]+)\\*\\*/g,\n      '*$1*'\n    )\n\n    // Markdown bullets → Slack bullets\n    .replace(/^[-*]\\s+/gm, '• ')\n\n    // Remove excessive blank lines\n    .replace(/\\n{3,}/g, '\\n\\n')\n\n    .trim();\n}\n\nconst digestSlack = markdownToSlack(md);\n\n/**\n * Output values for Gmail and Slack.\n */\nreturn [\n  {\n    json: {\n      digestMarkdown: md,\n      digestHtml: digestHtml,\n      digestSlack: digestSlack,\n      subject:\n        'Weekly AI & Automation Digest — ' +\n        (f.periodEnd || new Date().toISOString().slice(0, 10)),\n      count: f.count || articles.length\n    }\n  }\n];"
      },
      "id": "4b1087db-fbcf-4ea1-b549-2d372b2102c1",
      "name": "Format Markdown Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.digestHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ff4c359f-7177-43ad-b96b-4f04ded41e34",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "=Weekly AI & Automation Digest — {{ $json.periodEnd }} (No news)",
        "emailType": "text",
        "message": "=No relevant AI or automation news articles were found for the period {{ $json.periodStart }} – {{ $json.periodEnd }}.\n\nThe monitored RSS sources returned no matching stories from the last 7 days. Please check the sources manually if this is unexpected.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fa7eb5cd-4281-4a09-9c62-6e2799c28dd6",
      "name": "Send No-News Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        224
      ]
    },
    {
      "parameters": {
        "content": "## 1-2. Collect news\nTwo public RSS sources (no paid API key):\n- **Google News** search RSS — broad coverage across all AI/automation keywords.\n- **TechCrunch AI** feed — high-signal industry & funding news.\nBoth use `neverError` + `alwaysOutputData` so a failed feed never breaks the run.",
        "height": 320,
        "width": 360
      },
      "id": "0ec12f72-f60d-4add-ab56-93677b751a3f",
      "name": "Sticky Note 0ec12f72",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -400
      ]
    },
    {
      "parameters": {
        "content": "## 3-5. Parse, filter, validate\n- Parse RSS/XML with a defensive regex parser (survives malformed feeds).\n- Keep only the last 7 days; reject missing, invalid, and future (>1 day) dates.\n- Whole-word keyword match (so \"ai\" does not match email/said/chair/retail).\n- Remove duplicates, limit to 15, then the IF gate routes to digest or \"no news\".",
        "height": 320,
        "width": 360
      },
      "id": "8e1e89cf-50a1-4f0d-89ad-475a4b8aaa88",
      "name": "Sticky Note 8e1e89cf",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -416
      ]
    },
    {
      "parameters": {
        "content": "## 6-7. Summarize, format & send\n- OpenAI (gpt-4o-mini, temp 0.3, max 1800 tokens) writes 3-5 takeaways with source links from ONLY the supplied articles.\n- The format node builds Markdown AND converts it into styled HTML for Gmail.\n- Gmail sends the HTML digest (Email Type: HTML). Set your email in setup.",
        "height": 320,
        "width": 360
      },
      "id": "53a10330-ef17-4614-bc96-eb95801343d0",
      "name": "Sticky Note 53a10330",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -416
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "your-channel"
        },
        "text": "={{ $('Format Markdown Digest').first().json.digestSlack }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1984,
        0
      ],
      "id": "31585b57-044f-4802-a707-644607a0ac1c",
      "name": "Send a message"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "your-channel"
        },
        "text": "={{ '*Weekly AI & Automation Digest — No News*' +\n'\\n\\n*Reporting period:* ' + $json.periodStart + ' – ' + $json.periodEnd +\n'\\n\\nNo relevant AI or automation news articles were found during the last seven days.' +\n'\\n\\nThe monitored RSS sources returned no matching stories. Please check the sources manually if this is unexpected.' }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1600,
        224
      ],
      "id": "9011b75c-6aa8-4174-bd05-d4456b6d7397",
      "name": "Send a message1"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Monday 9 AM": {
      "main": [
        [
          {
            "node": "Fetch Google News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch TechCrunch AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Feeds": {
      "main": [
        [
          {
            "node": "Parse RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TechCrunch AI": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse RSS Feeds": {
      "main": [
        [
          {
            "node": "Filter, Dedupe & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter, Dedupe & Prepare": {
      "main": [
        [
          {
            "node": "Any Articles Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Articles Found?": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send No-News Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Format Markdown Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Markdown Digest": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send No-News Email": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Chicago"
  },
  "versionId": "4a9d5363-8a71-4a11-b499-0e6c1546003e",
  "nodeGroups": [],
  "id": "imAf2Amwv2z685rA",
  "tags": []
}
